<web-app>

<servlet>
<servlet-name>B</servlet-name>
<servlet-class>CartDetails</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>B</servlet-name>
<url-pattern>/CartDetails</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>C</servlet-name>
<servlet-class>Validate</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>C</servlet-name>
<url-pattern>/Validate</url-pattern>
</servlet-mapping>




<welcome-file-list>
<welcome-file>image.html</welcome-file>
</welcome-file-list>
</web-app>